.cart-conatainer{
    width: 27%;
    .cart{
        .empty-card-banner{
            background-color:#dfd7ef;
            padding: 0.5rem;
            border-radius : 3px;
            text-align:center;
            height: 2rem;
            margin:1rem
        }
        .cart-header{
            background-color: #f5f5f5;
            margin: 1rem;
            display: flex;
            justify-content: space-between;
            border: 1px solid #ccc;
            padding: .4rem;
            border-radius: 3px;
            .cart-header-item{
                display: flex;
                justify-content: space-between;
                
            }
            .cart-header-price-quantity{
                display:flex;
                .cart-header-quantity{
                    margin-right: 25px;
                }
            }
            
        }
        .cart-body{
            margin: 1rem;
            .cart-item{
                display: flex;
                margin-top : 1rem;
                .cart-item-name-img-holder{
                    display:flex;
                    margin-right: 4rem; 
                    .cart-item-image{
                        height: 4rem;
                        width: 3rem;
                    }
                    p{
                        padding-left: 1rem
                    }
                }
                .item-quantity-holder{
                    display:flex;
                    margin-right : 0.8rem;
                    p{
                        padding : 0.5rem
                    }
                    button{
                        background-color: white;
                        border: 1px solid black;
                        height: 3rem;
                        width: 2rem;
                        border-radius: 3px
                    }
                }
                
            }
        }
        }
        
}

.bill-section{
    margin:1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5rem;

    .bill-section-card{
        display: flex;
        justify-content : space-between;
    }
    .order-total{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        background-color: #dfd7ef;
        border-radius: 3px;
    }
}